<div class="container header">
  <h1>Here are ALL of the Robots!</h1>
</div>
<div class="row">
  <% @robots.each do |robot| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class = "card-title"><a href="/robots/<%=robot.id%>"><%= robot.name%></a></span>
          <%= robot.city %>
          <%= robot.state %>
          <%= robot.birthdate %>
          <%= robot.department %>
          <%= robot.date_hired %>
          <img src="https://robohash.org/<%= robot.name %>.png">
        </div>
        <a href="/robots/<%= robot.id %>/edit" class="waves-effect waves-light btn">Modify Robot</a>
        <form class="col s6" action="/robots/<%= robot.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="waves-effect waves-light btn" type="submit" value="Destroy Robot">
        </form>
      </div>
    </div>
  <% end %>
</div>
