<h1>Here are ALL of the Robots!</h1>
<% @robots.each do |robot| %>
  <a href="/robots/<%= robot.id %>"><%= robot.name %></a>
  <%= robot.city %>
  <%= robot.state %>
  <%= robot.birthdate %>
  <%= robot.department %>
  <%= robot.date_hired %>
  <img src="https://robohash.org/<%= robot.name %>.png">
  <br/>
  <a href="/robots/<%= robot.id %>/edit" class="waves-effect waves-light btn">Modify Robot</a>
  <form class="col s6" action="/robots/<%= robot.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="waves-effect waves-light btn" type="submit" value="Destroy Robot">
  </form>
<% end %>
